Source: ros-jazzy-tlsf-cpp
Section: misc
Priority: optional
Maintainer: Brandon Ong <brandon@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), ros-jazzy-ament-cmake, ros-jazzy-ament-cmake-gtest <!nocheck>, ros-jazzy-ament-lint-auto <!nocheck>, ros-jazzy-ament-lint-common <!nocheck>, ros-jazzy-rclcpp, ros-jazzy-rmw, ros-jazzy-rmw-implementation-cmake <!nocheck>, ros-jazzy-std-msgs, ros-jazzy-tlsf, ros-jazzy-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-jazzy-tlsf-cpp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jazzy-ament-cmake, ros-jazzy-rclcpp, ros-jazzy-rmw, ros-jazzy-std-msgs, ros-jazzy-tlsf, ros-jazzy-ros-workspace
Description: C++ stdlib-compatible wrapper around tlsf allocator and ROS2 examples
